@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* basic css */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.left, .right{
    width: 45%;
}
img{
    width: 100%;
}
h1, h2{
    line-height: 1.2;
    color: rgb(58, 58, 58);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.button{
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, rgb(255, 136, 0), orangered);
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgba(255, 59, 0, 0.2);
}
span{
    color: orangered;
}
p{
    width: 80%;
    text-align: justify;
}

/* hero section start */
#hero p{
    color: rgb(68, 68, 68);
    font-weight: 600;
    margin: 20px 0;
}
/* hero section end */

/* about section start */
#about {
    background:url('./images/bg1.png') no-repeat center;
}
#about img{
width: 65%;
padding-top: 75px;
}
#about p{
   margin: 20px 0 40px 0; 
}
/* about section end */

/* recipe section start */
#recipe, #trending{
 padding: 60px 0;
}
.info h2, .info p{
    padding-bottom: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
}
#recipe .single, #trending .single{
    width: 28%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.1);
    height: auto;
}
.boxes .container{
    height: auto;
}
/* recipe section end */

/* statistics section start */
#statistics{
    margin: 80px;
}
#statistics .container{
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    border-radius: 15px;
    justify-content: space-around;
    height: 200px;
}
#statistics .single{
    width: 18.5%;
    
}
#statistics p, #statistics h1{
    color: black;
}
/* statistics section end */

/* trending section start*/
 #trending {
background:url('./images/bg3.png') no-repeat center;
background-attachment: fixed;
 }

 #trending .info,  #trending h2{
     color: white;
 }

 #trending .single{
     box-shadow: none;
     background: white;
     text-align: center;
     padding-bottom: 25px;
 }

  #trending .single p{
      width: 100%;
  }
/* trending section end*/

/* Download section start  */
#download .container{
    background: url('./images/bg2.jpg') no-repeat center;
    background-size: cover;
    padding: 0 40px;
    height: auto;
    margin: 70px auto;
}
#download h2{
    color: black;
}
#download p{
    margin: 20px 0;
    font-weight: 600;
}
.button-group{
    display: flex;
    width: 30%;
}
.button-group a img{
    width: 200px;
     border-radius: 15px;
}
#download .left{
    width:40%
}
#download .right{
    width:60%
}
/* footer section start */
#footer{
    background: black;
}
#footer .container{
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: auto;
    padding: 50px;
}
#footer p{
    color: white;
}
/* footer section end */